<%- include('./partials/head') %><!--maak gebruik van partias voor de header-->


<main>
    <div class="grid-container">
        <section>
            <h1><%= data.name %>
                <%= data.prefix %>
                <%= data.surname%>
            </h1>
        </section>
        <section class="foto-info">
            <img id="image" src="images/image.jpg" height="" alt="Dit is mijn foto"><!--dit hoort zo te staan omdat de images anders niet vindbaar is -->
            <p><%=data.avatar%></p>
            <p> ik ben nu:<%= data.custom.age %>
            </p>
            <p> bio: <%= data.bio%></p>
            <p> mijn opleiding:<%= data.custom.opleiding %></p>


        </section>

        <section class="social-media">
            <h2>social media</h2>
            <ul>
                <li><a href="<%= data.website %>">Link naar github account</a></li>
            </ul>

        </section>
    </div>

</main>

<%- include('./partials/foot') %>
